In [1]:
import pandas as pd

In [2]:
Mortgage_1 = "data\MORTGAGE30US_2006_2009.csv"
Mortgage_2 = "data\MORTGAGE30US_2016_2019.csv"

Mortgage_1 = pd.read_csv(Mortgage_1)
Mortgage_2 = pd.read_csv(Mortgage_2)

In [3]:
Mortgage_1 = Mortgage_1.rename(columns={"DATE": "Date", "MORTGAGE30US": "30-Year Mortgage(%)"})

In [4]:
Mortgage_2 = Mortgage_2.rename(columns={"DATE": "Date", "MORTGAGE30US": "30-Year Mortgage(%)"})

In [5]:
Mortgage_1.nunique()

Date                   209
30-Year Mortgage(%)    112
dtype: int64

In [6]:
Mortgage_2.nunique()

Date                   192
30-Year Mortgage(%)    106
dtype: int64

In [7]:
Mortgage_1.set_index("Date", inplace=True)

In [8]:
Mortgage_2.set_index("Date", inplace=True)

In [9]:
Mortgage_1 = Mortgage_1['30-Year Mortgage(%)'].astype(str) + '%'

In [10]:
Mortgage_2 = Mortgage_2['30-Year Mortgage(%)'].astype(str) + '%'

In [11]:
Mortgage_1 = pd.DataFrame(Mortgage_1)

In [12]:
Mortgage_2 = pd.DataFrame(Mortgage_2)

In [13]:
Mortgage_1.head()

           30-Year Mortgage(%)
Date
2006-01-05               6.21%
2006-01-12               6.15%
2006-01-19                6.1%
2006-01-26               6.12%
2006-02-02               6.23%

In [14]:
Mortgage_2.head()

           30-Year Mortgage(%)
Date
2016-01-07               3.97%
2016-01-14               3.92%
2016-01-21               3.81%
2016-01-28               3.79%
2016-02-04               3.72%

In [15]:
Mortgage_dict1 = Mortgage_1.to_dict()

In [16]:
Mortgage_dict2 = Mortgage_2.to_dict()