In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Data from FRED
# Read csv files to pandas dataframe
Mortgage_1 = "data\MORTGAGE30US_2006_2009.csv"
Mortgage_2 = "data\MORTGAGE30US_2016_2019.csv"

Mortgage_1 = pd.read_csv(Mortgage_1)
Mortgage_2 = pd.read_csv(Mortgage_2)

In [ ]:
# Rename columns
Mortgage_1 = Mortgage_1.rename(columns={"DATE": "Date", "MORTGAGE30US": "30-Year Mortgage(%)"})
Mortgage_2 = Mortgage_2.rename(columns={"DATE": "Date", "MORTGAGE30US": "30-Year Mortgage(%)"})

In [ ]:
# Reset index to date
Mortgage_1.set_index("Date", inplace=True)
Mortgage_2.set_index("Date", inplace=True)

In [ ]:
# Adding the data to dataframe
Mortgage_1 = pd.DataFrame(Mortgage_1)
Mortgage_2 = pd.DataFrame(Mortgage_2)

In [ ]:
# Display Data
Mortgage_1.head()

In [ ]:
Mortgage_2.head()

In [ ]:
# Saving the clean data in csv files

Mortgage_1.to_csv('Clean_Data/mortgage_1.csv')
Mortgage_2.to_csv('Clean_Data/mortgage_2.csv')

In [ ]:
# Data from Google Cloud
D1 = pd.read_csv('Data/sf_const_2006_2009.csv')
D2 = pd.read_csv('Data/sf_const_2016_2019.csv')

In [ ]:
D1_f = D1[(D1.geo_desc == 'United States')]
D1_f = D1_f[(D1_f.datatype_desc == 'Single-family Units')]
D1_f = D1_f[(D1_f.category_desc == 'Housing Units Started')]
D1_f = D1_f[['period_date', 'value']]
D1_f = D1_f.rename(columns={'period_date': 'DATE', 'value': 'Single family units in 1000\'s'})
# Value = thousands of single family housing units started
D1_f.set_index("DATE", inplace=True)
D1_f = D1_f.drop(['2005-12-15'])
D1_f.head()

In [ ]:
D2_f = D2[(D2.geo_desc == 'United States')]
D2_f = D2_f[(D2_f.datatype_desc == 'Single-family Units')]
D2_f = D2_f[(D2_f.category_desc == 'Housing Units Started')]
D2_f = D2_f[['period_date', 'value']]
D2_f = D2_f.rename(columns={'period_date': 'DATE', 'value': 'Single family units in 1000\'s'})
# Value = thousands of single family housing units started
D2_f.set_index("DATE", inplace=True)
D2_f.head()

In [ ]:
D1_f.to_csv('Clean_Data/SFU_06.csv')
D2_f.to_csv('Clean_Data/SFU_16.csv')

In [2]:
# Data from FRED
# Read csv files to pandas dataframe
# DGS30 stands for Treasury Yields
gs_19 = pd.read_csv('Data/DGS30_2016_2019.csv')
gs_09 = pd.read_csv('Data/DGS30_2006_2009.csv')

In [3]:
# Rename columns
gs_19 = gs_19.rename(columns={"DATE": "Date", "DGS30": "30_Year_Treasury"})
gs_09 = gs_09.rename(columns={"DATE": "Date", "DGS30": "30_Year_Treasury"})

In [4]:
# Reset index to date
gs_19.set_index("Date", inplace=True)
gs_09.set_index("Date", inplace=True)

In [5]:
# Convert the data to dataframe
gs_19 = pd.DataFrame(gs_19)
gs_09 = pd.DataFrame(gs_09)

In [7]:
gs_09.replace({".":float("0.00")})
gs_19.replace({".":float("0.00")})

           30_Year_Treasury
Date
2016-01-04             2.98
2016-01-05             3.01
2016-01-06             2.94
2016-01-07             2.92
2016-01-08             2.91
2016-01-11             2.96
2016-01-12             2.89
2016-01-13             2.85
2016-01-14             2.90
2016-01-15             2.81
2016-01-18                0
2016-01-19             2.82
2016-01-20             2.77
2016-01-21             2.79
2016-01-22             2.83
2016-01-25             2.80
2016-01-26             2.79
2016-01-27             2.80
2016-01-28             2.79
2016-01-29             2.75
2016-02-01             2.77
2016-02-02             2.67
2016-02-03             2.70
2016-02-04             2.70
2016-02-05             2.68
2016-02-08             2.56
2016-02-09             2.55
2016-02-10             2.53
2016-02-11             2.50
2016-02-12             2.60
...                     ...
2019-07-26             2.59
2019-07-29             2.59
2019-07-30             2.58
2019-07-31             2.53
2019-08-01             2.44
2019-08-02             2.39
2019-08-05             2.30
2019-08-06             2.25
2019-08-07             2.22
2019-08-08             2.25
2019-08-09             2.26
2019-08-12             2.14
2019-08-13             2.15
2019-08-14             2.03
2019-08-15             1.98
2019-08-16             2.01
2019-08-19             2.08
2019-08-20             2.04
2019-08-21             2.07
2019-08-22             2.11
2019-08-23             2.02
2019-08-26             2.04
2019-08-27             1.97
2019-08-28             1.94
2019-08-29             1.97
2019-08-30             1.96
2019-09-02                0
2019-09-03             1.95
2019-09-04             1.97
2019-09-05             2.06

[959 rows x 1 columns]

In [8]:
# Saving the clean data in csv files

gs_09.to_csv('Clean_Data/Treasury_1.csv')
gs_19.to_csv('Clean_Data/Treasury_2.csv')