In [1]:
import pandas as pd
import numpy as np

In [2]:
# Data from FRED
# Read csv files to pandas dataframe
# MDO stands for mortgage debt out standing, S is for 1-4 unit and M is for multifamily
MDO_S_06 = pd.read_csv('Data/1_4_family_2006_2009.csv')
MDO_S_16 = pd.read_csv('Data/1_4_family_2016_2019.csv')
MDO_M_06 = pd.read_csv('Data/multi_family_2006_2009.csv')
MDO_M_16 = pd.read_csv('Data/multi_family_2016_2019.csv')

# Mortgage rates quarterly
ratesQ_06 = pd.read_csv('Data/MORTGAGE30USQ_06_09.csv')
ratesQ_16 = pd.read_csv('Data/MORTGAGE30USQ_16_19.csv')

In [3]:
# Data from FRED
# Read csv files to pandas dataframe
Mortgage_1 = "data\MORTGAGE30US_2006_2009.csv"
Mortgage_2 = "data\MORTGAGE30US_2016_2019.csv"

Mortgage_1 = pd.read_csv(Mortgage_1)
Mortgage_2 = pd.read_csv(Mortgage_2)

In [4]:
# Rename columns
Mortgage_1 = Mortgage_1.rename(columns={"DATE": "Date", "MORTGAGE30US": "30-Year Mortgage(%)"})
Mortgage_2 = Mortgage_2.rename(columns={"DATE": "Date", "MORTGAGE30US": "30-Year Mortgage(%)"})

In [5]:
# Reset index to date
Mortgage_1.set_index("Date", inplace=True)
Mortgage_2.set_index("Date", inplace=True)

In [6]:
# Changing format by adding % sign to interest rates
Mortgage_1 = Mortgage_1['30-Year Mortgage(%)'].astype(str) + '%'
Mortgage_2 = Mortgage_2['30-Year Mortgage(%)'].astype(str) + '%'

# Adding the data to dataframe
Mortgage_1 = pd.DataFrame(Mortgage_1)
Mortgage_2 = pd.DataFrame(Mortgage_2)

In [7]:
# Display Data
Mortgage_1.head()

           30-Year Mortgage(%)
Date
2006-01-05               6.21%
2006-01-12               6.15%
2006-01-19                6.1%
2006-01-26               6.12%
2006-02-02               6.23%

In [8]:
Mortgage_2.head()

           30-Year Mortgage(%)
Date
2016-01-07               3.97%
2016-01-14               3.92%
2016-01-21               3.81%
2016-01-28               3.79%
2016-02-04               3.72%

In [9]:
# Saving the clean data in csv files

Mortgage_1.to_csv('Clean_Data/mortgage_1.csv')
Mortgage_2.to_csv('Clean_Data/mortgage_2.csv')

In [10]:
# Data from Google Cloud
D1 = pd.read_csv('Data/sf_const_2006_2009.csv')
D2 = pd.read_csv('Data/sf_const_2016_2019.csv')

In [11]:
D1_f = D1[(D1.geo_desc == 'United States')]
D1_f = D1_f[(D1_f.datatype_desc == 'Single-family Units')]
D1_f = D1_f[(D1_f.category_desc == 'Housing Units Started')]
D1_f = D1_f[['period_date', 'value']]
D1_f = D1_f.rename(columns={'period_date': 'DATE', 'value': 'Single family units in 1000\'s'})
# Value = thousands of single family housing units started
D1_f.set_index("DATE", inplace=True)
D1_f = D1_f.drop(['2005-12-15'])
D1_f.head()

            Single family units in 1000's
DATE
2006-01-15                          121.0
2006-02-15                          123.6
2006-03-15                          137.7
2006-04-15                          134.8
2006-05-15                          158.0

In [12]:
D2_f = D2[(D2.geo_desc == 'United States')]
D2_f = D2_f[(D2_f.datatype_desc == 'Single-family Units')]
D2_f = D2_f[(D2_f.category_desc == 'Housing Units Started')]
D2_f = D2_f[['period_date', 'value']]
D2_f = D2_f.rename(columns={'period_date': 'DATE', 'value': 'Single family units in 1000\'s'})
# Value = thousands of single family housing units started
D2_f.set_index("DATE", inplace=True)
D2_f.head()

            Single family units in 1000's
DATE
2016-01-15                           50.2
2016-02-15                           58.0
2016-03-15                           62.2
2016-04-15                           72.5
2016-05-15                           70.2

In [13]:
D1_f.to_csv('Clean_Data/SFU_06.csv')
D2_f.to_csv('Clean_Data/SFU_16.csv')