In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read csv files to pandas dataframe
df = pd.read_csv('Data/1_4_family_2006_2009.csv')

In [3]:
df.head()

         DATE   MDOTP1T4FR
0  2006-01-01   9773847.34
1  2006-04-01  10104532.67
2  2006-07-01  10364758.44
3  2006-10-01  10531860.19
4  2007-01-01  10749888.32

In [8]:
df.dtypes

DATE           object
MDOTP1T4FR    float64
dtype: object