In [2]:
import pandas as pd

In [3]:
multi_1 = "data\MDO_multifamily_2006_2009.csv"
multi_2 = "data\MDO_multifamily_2016_2019.csv"

multi_1 = pd.read_csv(multi_1)
multi_2 = pd.read_csv(multi_2)

In [4]:
multi_1

          DATE   MDOTPMFR
0   2006-01-01  684199.62
1   2006-04-01  693022.43
2   2006-07-01  703026.48
3   2006-10-01  718417.36
4   2007-01-01  737345.47
5   2007-04-01  750497.22
6   2007-07-01  775688.19
7   2007-10-01  807843.34
8   2008-01-01  822156.18
9   2008-04-01  835965.80
10  2008-07-01  846972.04
11  2008-10-01  853484.68
12  2009-01-01  855360.01